.level-container {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 300px;
}

.level-container img {
   min-width: 200px;
   height: 250px;
   border-radius: 8px;
   gap: 2rem;
}